*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
}

/*   B O D Y    */

body{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 45px auto 200px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    height: 100vh;
}
.grid-header{
    grid-area: header;
    background-color: #f3f3f3;
    color: rgb(255, 255, 255);
}
.grid-nav{
    grid-area: nav;
    background-color: rgb(88, 198, 139);
}
.grid-main{
    grid-area: main;
    background-color: #f3f3f3;
    display: grid;
    justify-items: center;
    grid-template-rows: 50px 1fr;
    margin: 20px 0 30px 0;
}


.grid-footer{
    grid-area: footer;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
}

/*   H E A D E R    */

/*   L O G O    */

.grid-header{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

.container-logo a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.container-logo a img{
    width: 40px;
    display: grid;
}

.container-logo a h1{
    font-size: 35px;
    color: rgb(59, 91, 133);
}

.img-computer{
    width: 200px;
}

.container-logo-footer img{
    width: 50px;
}

.container-search-bar{
    display: flex;
    justify-content: center;
}

.search-bar{
    width: 80%;
    height: 100%;
    border: none;
    height: 30px;
    background-color: rgb(233, 234, 236);
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}

/*       N A V        */

.fa-bars{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.57);
}

.nav-list{
    position: absolute;
    margin-top: -2px;
    height: auto;
    width: 100%;
    background-color: rgb(88, 198, 139);
    z-index: 100;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px rgba(0,0,0,0.57);
}

.nav-list li{
    padding: 7px 0 7px 20px;
    font-weight: 500;
}

.index-logout{
    border-radius: 10px;
    color: white;
    padding: 4px 10px;
    transition: background-color .4s;
}

.index-logout:hover{
    background-color: rgb(187, 84, 84);
}

.hide-menu{
    display: none;
}


.grid-footer{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    justify-content: center;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid rgb(49, 49, 49);
    height: 100%;
}

.social-media a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.contact ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.contact ul li{
    display: grid;
    grid-template-columns: 30px 1fr;
}

.nav-list-main{
    display: none;
}


@media only screen and (min-width: 600px) {
    body{
        background-color: #f3f3f3;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 120px 45px auto 200px;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    }
    nav .fa-bars{
        display: none;
    }
    
    #addTable{
        width: 500px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        border: none;
        box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.76);
    }
    .addTable-container{
        width: 500px;
    }
    .search-bar{
        width: 500px;
    }
    .nav-list-main{
        display: flex;
        width: 100%;
        justify-content: center;
        list-style-type: none;
        gap: 100px;
        align-items: center;
        height: 100%;
    }
    .buttons-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .nav-list-main a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: color .4s;
    }
    .nav-list-main a:hover{
        color: black;
    }
    .grid-main-contact{
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*   PRODUCTS   */

    .form-products{
        margin: 30px 0;
        width: 100%;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.134);
    }

    .form-products form{
        display: flex;
        gap: 10px;
        height: 80%;
        width: 100%;
        flex-direction: column;        
        align-items: center;
        justify-content: space-evenly;
    }

    .form-products form label{
        width: 80%;
        padding-left: 10px;
    }

    .form-products form input,select{
        width: 80%;
        padding: 5px;
        border: none;
        background: #f2f2f2;
        border-radius: 10px;
        font-size: 13px;
        outline: none;
        text-transform: capitalize;
    }

    .form-products form button{
        padding: 10px 40px;
        font-size: 14px;
        background-color: rgb(88, 198, 139);
        border: none;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    
    .log-out-button{
        width: 110px;
        height: 30px;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        transition: background-color .5s;
    }
    
    
    .log-out-button a{
        text-decoration: none;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        color: black;
        transition: color .5s
    }
    
    .log-out-button:hover{
        background-color: rgb(88, 198, 139);
    }
    
    .log-out-button:hover a{
        color: rgb(255, 255, 255);
    }
    .container-products{
        display: flex;
        grid-column: 2;
        flex-direction: column;
        margin: 30px 0px;
        gap: 15px;
    }
    .container-product{
        display: flex;
        align-items: center;
        margin-left: 30px;
        background-color: #ffffff;
        max-height: 120px;
        min-width: 500px;
        border-radius: 5px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.102);
    }
    .form-edit-products{
        position: absolute;
        margin: 30px 0;
        width: 100%;
        min-width: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 120px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.134);
    }

    .form-edit-products form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px
    }

    .form-edit-products form label{
        width: 80%;
        padding-left: 10px;
    }

    .form-edit-products form input,select{
        width: 80%;
        padding: 5px;
        border: none;
        background: #f2f2f2;
        border-radius: 10px;
        font-size: 13px;
        outline: none;
        text-transform: capitalize;
    }

    .form-edit-products form button{
        width: 110px;
        height: 30px;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        color: white;
        background-color: rgb(88, 198, 139);
    }
    
    .grid-main-products{
        grid-column: 2;
        height: auto;
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    .container-img{
        min-width: 120px;        
        height: 120px;
        background-color: rgb(255, 255, 255);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .container-img img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
    }
    .container-description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .data-container{
        width: 100%;
        padding-left: 10px;
    }

    .container-product .container-description .data-container span {
        font-size: 30px;
        font-weight: 500;
    }
    .buttons-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .buttons-container button{
        padding: 3px 10px;
        border-radius: 20px;
        border: none;
    }
    .delButton{
        background-color: rgb(211, 55, 55);
    }
    .delButton a{
        text-decoration: none;
        color: white;
    }
    .modify{
        padding: 3px 10px;
        border-radius: 20px;
        border: none;
        background-color: rgb(59, 118, 206);
        color: white;
    }
    .updateButton{
        background-color: rgb(88, 198, 139);
        color: white;
    }


    /*LOGIN    REGISTER  */


    .container-form{
        width: 100%;
        max-width: 800px;
        min-width: 800px;
        position: relative;
    }
    
    .container-back{
        width: 100%; 
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(88, 198, 139);
    }
    
    .container-back div{
        color: white;
        transition: all 500ms;
    }
    .container-back div p,
    .container-back div button{
        margin-top: 30px;
    }
    
    .container-back div h3{
        font-weight: 400;
        font-size: 26px;
    }
    
    .container-back button{
        padding: 10px 40px;
        border: 2px solid #ffff;
        background: transparent;
        font-weight: 600;
        cursor: pointer;
        color: white;
        outline: none;
        transition: all 300ms;
    }
    
    .container-back button:hover{
        background-color: #ffff;
        color: rgb(88, 198, 139);
    }
    
    .container-login-register{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 380px;
        position: relative;
        top: -150px;
        left: 10px;
        background: white;
        transition: left 500ms;
    }
    
    .container-login-register form h2{
        font-size: 30px;
        text-align: center;
        color: rgb(88, 198, 139)
    }
    
    .container-login-register form input{
        width: 80%;
        padding: 10px;
        border: none;
        background: #f2f2f2;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
    }
    
    .container-login-register form{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.237);
        transition: height 500ms;
    }
    .form-register{
        height: 500px;
    }

    .form-login{
        height: 500px;
        justify-content: space-evenly;
        gap: 20px;
    }
    .container-login-register form button{
        padding: 10px 40px;
        font-size: 14px;
        background-color: rgb(88, 198, 139);
        border: none;
        color: white;
        cursor: pointer;
    }

  }

  .posicion{
    position: absolute;
    width: 300px;
    margin-top: 200px;
  }

  .ocultar{
    display: none;
  }